body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-left: 100px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}

.menu li {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f9f9f9;
    height: auto;
}

.auth-box {
    width: 45%;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-box h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.auth-box form {
    display: flex;
    flex-direction: column;
}

.auth-box label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.auth-box input[type="text"],
.auth-box input[type="email"],
.auth-box input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.auth-box button {
    padding: 10px;
    background-color: hsl(36, 61%, 58%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.auth-box button:hover {
    background-color: rgb(40, 37, 37);
}

.auth-box .remember {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.auth-box .remember label {
    margin-left: 5px;
    font-weight: normal;
}

.auth-box a {
    color: #d0a462;
    text-decoration: none;
    font-size: 14px;
}

.auth-box a:hover {
    text-decoration: underline;
    background-color: hsla(0, 0%, 100%, 0.1);
}

footer {
    background-color: #ffffff;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-left: 700px;
    margin-top: 0px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-left: 600px;
}

.social-media {
    margin-right: 500px
}

.social-media img {
    margin-top: 20px;
    height: 25px;
    width: 25px;
}