body {
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fffcfc;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.logo img {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #000000;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #d0a462;
    outline: none;
}

.status {
    color: #28a745;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.password-status {
    color: #28a745;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #d0a462;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #000000;
}

.links,
.footer-links {
    margin-top: 10px;
}